# Base de données
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sensante?schema=public"

# Groq API (IA)
GROQ_API_KEY="votre-cle-groq-ici"

# NextAuth (Authentification)
NEXTAUTH_SECRET="un-secret-aleatoire"
NEXTAUTH_URL="http://localhost:3000"
