 Base de données
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/sensante?schema=public"

# Groq API (IA)
GROQ_API_KEY="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"

# NextAuth (Authentification)
NEXTAUTH_SECRET="un-secret-aleatoire"
NEXTAUTH_URL="http://localhost:3000"
