# Configuration de la Base de Données (PostgreSQL)
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/sensante?schema=public"

# Configuration NextAuth (Authentification)
# Générez un secret avec : openssl rand -base64 32
NEXTAUTH_SECRET="FJEEyNegZkth2rXm4/vlGCKQUYDCBN7oz/w/rQUExds="
NEXTAUTH_URL="http://localhost:3000"